snippet min
agenda:   ${1:agenda}
date:     ${2:`date +%Y-%m-%d`}
atendees: ${3:atendees}
---
actions:
---
endsnippet

snippet rca
problem:  ${1:problem}
date:     ${2:`date +%Y-%m-%d`}
atendees: ${3:atendees}
---
causal factors:
conclusions:
changes:
---
endsnippet
